@model Travlr.Models.Views.GrupoViewModel

@{
}

<h2>testtesttest</h2>

 <form asp-action="VotarEncuesta" method="POST">
    <div class="form-horizontal">
        <h4>teeeeeeeeeeeeest</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Unirse" class="btn btn-default" />
            </div>
        </div>
    </div>
</form> 
