@model Travlr.Models.Views.GrupoViewModel

@{
}

<h2>Agregar o sacar fondos</h2>

 <form asp-action="CrearEncuesta" method="POST">
    <span>@Html.HiddenFor(model => model.GrupoID)</span>
    <div class="form-horizontal">
        <label>Pregunta: </label>
        @Html.TextAreaFor(m => m.Encuesta.Pregunta, new { @class = "form-control" })  
        <br />
        <label>Rate: </label>
        @Html.DropDownList("Test", 
                    new List<SelectListItem>{
                        new SelectListItem{ Text="cuba", Value="1"},
                        new SelectListItem{ Text="peru", Value="0"},
                        new SelectListItem{ Text="chile", Value="2"}
                        },
                    "Opcioncitas",
                    new { @class = "form-control" })
        <br />
        <button id = "btn-add-comment"  class="btn btn-primary btn-sm" >Add Comment</button>
    </div>
</form> 
