@model Travlr.Models.Views.GrupoViewModel

@{
}

<h2>Agregar o sacar fondos</h2>

 <form asp-action="CrearEncuesta" method="POST">
    <span>@Html.HiddenFor(model => model.GrupoID)</span>
    <div class="form-horizontal">
        <label>Comment: </label>
        <input type= "text" id="comment-text" name="comment-text" value="" class="form-control"/>
        <br />
        <label>Rate: </label>
        <input type= "text" id="comment-rating" name="comment-rate" value="" class="form-control"/>
        <br />
        <button id = "btn-add-comment"  class="btn btn-primary btn-sm" >Add Comment</button>
    </div>
</form> 
