@model Travlr.Models.Views.GrupoViewModel

@{
}

<h2>Agregar o sacar fondos</h2>

 <form asp-action="CrearActividad" method="POST">
    <span>@Html.HiddenFor(model => model.GrupoID)</span>
    <div class="form-horizontal">
        <label>Descripcion: </label>
        @Html.TextAreaFor(m => m.Actividad.Descripcion, new { @class = "form-control" })  
        <br />
        <button id = "btn-add-comment"  class="btn btn-primary btn-sm" >Add Comment</button>
    </div>
</form> 
