@model Funtrip.Models.Views.GrupoViewModel

@{
}

<h2>Create</h2>


    <div class="form-horizontal">
        <h4>Grupo</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <form action="Create" method="POST">
                <input type="submit" name="Create" value="Crear Grupo" />
            </form>
        </div>
    </div>
