@model IEnumerable<Travlr.Models.Views.GrupoViewModel>
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Detalles" asp-route-id="@item.GrupoID">Chau percu</a> |
                <a asp-action="Salir" asp-route-id="@item.GrupoID">Salir pero de nazi</a> 
            </td>
        </tr>
}

    </tbody>
</table>