@model Travlr.Models.Views.GrupoViewModel

@{
}

<h2>Unirse a un Grupo</h2>

 <form asp-action="Unirse" method="POST">
    <div class="form-horizontal">
        <h4>Codigo grupo</h4>
        <hr />
        <div class="form-group">
            <label asp-for="GrupoID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GrupoID" class="form-control" />
                <span asp-validation-for="GrupoID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Unirse" class="btn btn-default" />
            </div>
        </div>
    </div>
</form> 
